<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Item</title>
</head>
<body>
  <form action="/addproperty" method="POST">

    <!-- Id: <input type="text", name="id"> -->
    PropertyType: <input type="text", name="PropertyType">
    <!--Bedrooms: <input type="text", name="Bedrooms">
    Bathrooms: <input type="text", name="Bathrooms">
    FloorNumber: <input type="text", name="FloorNumber">
    TotalFloors: <input type="text", name="TotalFloors">
    Price: <input type="text", name="Price">
    OwnershipType: <input type="text", name="OwnershipType">
    Furnished: <input type="text", name="Furnished">
    LuxuryAmenities: <input type="text", name="LuxuryAmenities">
    PossessionStatus: <input type="text", name="PossessionStatus">
    TransactionType: <input type="text", name="TransactionType">
    UserType: <input type="text", name="UserType">
    CompanyName: <input type="text", name="CompanyName">
    OwnerName: <input type="text", name="OwnerName">
    Rating: <input type="text", name="Rating"> -->
    <button type="submit" name="submit">Add</button>
  </form>    
</body>
</html>
