<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Item</title>
</head>
<body>
  <form action="/addproperty" method="POST">

    Id: <input type="text", name="id"><br/><br/>
    PropertyType: <input type="text", name="PropertyType"><br/><br/>
    Bedrooms: <input type="number", name="Bedrooms"><br/><br/>
    Bathrooms: <input type="number", name="Bathrooms"><br/><br/>
    FloorNumber: <input type="number", name="FloorNumber"><br/><br/>
    TotalFloors: <input type="decimal", name="TotalFloors"><br/><br/>
    Price: <input type="text", name="Price"><br/><br/>
    OwnershipType: <input type="text", name="OwnershipType"><br/><br/>
    Furnished: <input type="text", name="Furnished"><br/><br/>
    LuxuryAmenities: <input type="text", name="LuxuryAmenities"><br/><br/>
    PossessionStatus: <input type="text", name="PossessionStatus"><br/><br/>
    TransactionType: <input type="text", name="TransactionType"><br/><br/>
    UserType: <input type="text", name="UserType"><br/><br/>
    CompanyName: <input type="text", name="CompanyName"><br/><br/>
    OwnerName: <input type="text", name="OwnerName"><br/><br/>
    Rating: <input type="number", name="Rating"><br/><br/>
    <button type="submit" name="submit">Add</button><br/><br/>
  </form>    
</body>
</html>

