<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Property Details Form</title>
<script>
let doIt=()=>{
  let tab=document.getElementById("tab1");
  let rows=tab1.getElementsByTagName('tr');
  fetch('https://harshagh.uksouth.cloudapp.azure.com:8080/getpropertydetails')
    .then(response => response.json())
    .then(data=>data.Results.forEach(  //.slice(0,3)
      x=>{
        let newRow=rows[0].cloneNode(true);
        let divs=newRow.getElementsByTagName('td');
        divs[0].innerHTML=x['id'];
        divs[1].innerHTML=x['NaPropertyTypeme'];
        divs[2].innerHTML=x['Bedrooms'];
        divs[3].innerHTML=x['Bathrooms'];
        divs[4].innerHTML=x['FloorNumber'];
        divs[5].innerHTML=x['OwnershipType'];
        divs[6].innerHTML=x['Furnished'];
        divs[7].innerHTML=x['LuxuryAmenities'];
        divs[8].innerHTML=x['PossessionStatus'];
        divs[9].innerHTML=x['TransactionType'];
        divs[10].innerHTML=x['UserType'];
        divs[11].innerHTML=x['CompanyName'];
        divs[12].innerHTML=x['OwnerName'];
        divs[13].innerHTML=x['Rating'];
        tab1.appendChild(newRow);
      }
    )
  );
}
</script>
</head>
<body>
<button onClick="doIt()">Press me</button>
This is where the results turn up: <br/>
<table id='tab1'>
<tr><td>id</td>
    <td>NaPropertyTypeme</td>
    <td>Bedrooms</td>
    <td>Bathrooms</td>
    <td>FloorNumber</td>
    <td>OwnershipType</td>
    <td>Furnished</td>
    <td>LuxuryAmenities</td>
    <td>PossessionStatus</td>
    <td>TransactionType</td>
    <td>UserType</td>
    <td>CompanyName</td>
    <td>OwnerName</td>
    <td>Rating</td>
</tr>
</table></body>
<!-- 
<body>
    <button onClick="doIt()">Press me</button>
    <p>This is where the results turn up:</p>
    <br />
    <table id="tab1" style="background-color: blue; color: white; border: 1px solid black; width: 100%; border-collapse: collapse; text-align: left;">
      <thead>
        <tr>
          <th style="border: 1px solid black; padding: 8px;">id</th>
          <th style="border: 1px solid black; padding: 8px;">Property Type</th>
          <th style="border: 1px solid black; padding: 8px;">Bedrooms</th>
          <th style="border: 1px solid black; padding: 8px;">Bathrooms</th>
          <th style="border: 1px solid black; padding: 8px;">Floor Number</th>
          <th style="border: 1px solid black; padding: 8px;">Ownership Type</th>
          <th style="border: 1px solid black; padding: 8px;">Furnished</th>
          <th style="border: 1px solid black; padding: 8px;">Luxury Amenities</th>
          <th style="border: 1px solid black; padding: 8px;">Possession Status</th>
          <th style="border: 1px solid black; padding: 8px;">Transaction Type</th>
          <th style="border: 1px solid black; padding: 8px;">User Type</th>
          <th style="border: 1px solid black; padding: 8px;">Company Name</th>
          <th style="border: 1px solid black; padding: 8px;">Owner Name</th>
          <th style="border: 1px solid black; padding: 8px;">Rating</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be dynamically added here -->
      </tbody>
    </table>
  </body> -->
</html>
